*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}
body{
    background-color: blanchedalmond;
}
.top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    max-height: fit-content;
    width: 100%;
}
.top-initial{
    background: red;
}
.top-final{
    background: wheat;
    display: flex;
    justify-content: space-between;
}
.top-final-text{
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    height: fit-content;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
}
.text-image{
    display: flex;
    justify-content: space-around;
}
.welcome-text{
    font-size: x-large ;
    color: white;
    letter-spacing: 2px;
}
@media screen and (max-width:480px){
    .welcome-text{
        font-size: smaller;
        letter-spacing: 2px;
    }
}
@media screen and (max-width:900px){
    .welcome-text{
        font-size: small;
        letter-spacing: 2px;
    }
}
.cart{
    cursor: pointer;
}
.buy-total{
    display: flex;
    flex-direction: column;
}
.buy{
    background: red;
    cursor: grab;
    color: antiquewhite;
    width: max-content;
}
.img{
    width: 20vw;
}
.container{
    position: fixed;
    top: 0;
    right: -100%;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.959);
    background-image: linear-gradient(90deg,red,white);
    height: 100%;
    width: 20vw;
    overflow: scroll;
    z-index: 100;
    transition: all 1s;
}
@media screen and (max-width:768px) {
    .container{
        width: 30vw;
    }
}
.active{
    right: 0;
} 
.close-cart{
    color: red;
    float: inline-end;
    cursor: pointer;
}
.designs{
    margin-top: 280px;
}
@media screen and (max-width:768px){
    .designs{
        margin-top: 165px;
    }
}
.group-design{
    background: white;
    text-align: center;
}
.image{
    height: 50vh;
    width: 20vw ;
    padding: 10px;
    background: red;
    transition: all 4s;
}
.image:hover{
    transform: scale(1.5,1);
}
.design{
    overflow: hidden;
}
.add-to-cart{
    background: red;
}
.btn-cart{
    height: 15px;
}
.description{
    font-size: small;
}
@media screen and (max-width:480px){
    .description{
        font-size: 10px;
    }
}
.dress{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width:768px){
    .image{
        height: 30vh;
        width: 30vw;
    }
}
@media screen and (max-width:480px){
    .image{
        height: 20vh;
        width: 30vw;
    }
}
.my-cart-image{
    width: 8vw;
}
.my-cart-item{
    list-style: none;
    justify-self: center;
}
@media screen and (max-width:768px){
    .my-cart-item{
       justify-self: left; 
    }
}
.cart-text{
    justify-self: center;
    text-shadow: 0px 0px 20px black;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
